@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Press Start 2P', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.boxh {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    margin: 50px;
}

.buttonBox {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    margin: 50px;
}


.box {
    width: 500px;
    height: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    text-align: center;
    border-radius: 10px;
}

    .box input[type = "text"], .box input[type = "password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid gray;
        padding: 14px 100px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        font-size: 20px;
    }

        .box input[type = "text"]:focus, .box input[type = "password"]:focus {
            width: 280px;
            border-color: green;
        }

    .box input[type = "submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 40px auto;
        text-align: center;
        border: 2px solid green;
        padding: 14px 40px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
        font-size: 20px;
    }

        .box input[type = "submit"]:hover {
            background: green;
        }


#boxSignUp {
    width: 500px;
    height: 400px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    text-align: center;
    border-radius: 10px;
}

.boxSignUp input[type = "text"], .boxSignUp input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid gray;
    padding: 14px 100px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    font-size: 20px;
}

    .boxSignUp input[type = "text"]:focus, .boxSignUp input[type = "password"]:focus {
        width: 280px;
        border-color: green;
    }

.buttonBox {
    border: 0;
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-size: 20px;
}

    .buttonBox:hover {
        background: green;
    }
